<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <ExeVersion>1.0.1.4</ExeVersion>
  <LastExeTimestamp>2/25/2021 3:51:14 PM</LastExeTimestamp>
  <ProfilerOutputDirectory>C:\Users\lovet\AppData\Local\Temp\ProfilerOutput</ProfilerOutputDirectory>
  <TemporaryFiles />
  <WindowLocation>
    <X>182</X>
    <Y>182</Y>
  </WindowLocation>
  <WindowSize>
    <Width>802</Width>
    <Height>600</Height>
  </WindowSize>
</Settings>